:root {
  font-family: Arial, sans-serif;
  color: #252538;
  background: #f7f7fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}